
.pure-menu {
	background: #9EC262;
	height: 130px;
	position: relative;
}

.pure-menu-link {
	color: white;
}


/**
* Top-level mobile menu items. 
**/

.custom-mobile .pure-menu-list {
	width: 100%;
	height: 130px;
	position: relative;
}

/**
* Added to top-level <li> elements
**/
.custom-mobile-menu-item {
	display: inline-block;
	position: absolute;
}
.custom-mobile-menu-item:first-child {
	left: 15px;
	height: 50px;
	top: 50%;
	margin-top: -26px;
}
.custom-mobile-menu-item:nth-child(2) {
	right: 15px;
	width: 100px;
	top: 50%;
	margin-top: -36px;
}

/**
* programmatically assigned to the top level nav menu
* (a ".pure-menu") to change color when the submenu is active.
**/
.custom-menu-expanded {
	background: #83C56D;
}

/**
* programmatically assigned to top level nav menu item
* to change color when selected.
**/
.custom-menu-selected {
	margin: 0px;
	box-shadow: 0px 0px 7px #308128;
	background: #61A34B;
}


/**
* List of mobile-only menu classes:
* 	.custom-mobile
*	.custom-mobile-menu-item
**/



/**
*
* Container of the <li> items in the mobile popout/submenu.
*
* width and position relative to the parent element.
* width here is given as "100vw" because "width: 100%" 
* will set width relative to the parent <li> 
* element, rather than the full screen. 
*
**/
.custom-mobile .pure-menu-children {
	font-size: 1.5em;
	width: 100vw;
	background: #83C56D;
	margin: 38px 0 0 -15px;
}

.custom-mobile .pure-menu-link {
	margin: 8px 0 8px 16px;
	padding-left: 27px;
	line-height: 45%;
}

.custom-mobile .pure-menu-link:hover, .custom-mobile .pure-menu-link:active {
	padding-left: 20px;
	border-left: 7px solid #064C2A;
	background: #83C56D;
}


/**
* Elements with "custom-mobile" class dissapear 
* on screens wider than 48em (768px). 
**/

@media screen and (min-width: 48em) {
	.custom-mobile {
		display: none;
	}
}