{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
</head>

<body>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
			{% include '_global/nav.html' %}
		</header>

		<main id="content" role="main">
			{% block content %}

			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} Fair Districts PA. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a>
		</footer>
	</div>
</body>
</html>
